{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}

    <!-- Masthead -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <div class="portrait mx-auto mb-4"></div>
                    <h1 class="text-uppercase text-white font-weight-bold">Développeur / Intégrateur Web
                        <small>Junior</small></h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-3">
                        Après avoir mis en scène pendant 25 ans les textes, les images et les&nbsp;couleurs, j'ai&nbsp;décidé
                        d'élargir mes compétences pour mettre en scène HTML, CSS, JavaScript, PHP et SQL.<br>
                    </p>
                    <p class="text-white-75 font-weight-light mb-5">
                        Mon sens du service, le travail en équipe, ma capacité à analyser et à trouver des&nbsp;solutions
                        sont des atouts de ma personnalité que je&nbsp;mets au service de vos&nbsp;clients.
                    </p>
                </div>
            </div>
        </div>
    </header>

    <!-- formation Section -->
    <section class="page-section bg-primary" id="formation">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h2 class="text-white mt-0">Formations</h2>
                    <hr class="divider light my-4">
                    <h6 class="text-white">WebForce3 {Développeur/Intégrateur Web}</h6>
                    <p class="text-white-50 mb-4">
                        Décembre 2019 [490 heures]<br>
                        Certificats Techniques d'intégration WEB<br>
                        et Techniques développement WEB<br>
                        <a class="text-white" data-toggle="collapse" href="#collapseWF3" role="button"
                           aria-expanded="false" aria-controls="collapseWF3">
                            <small>Plus d'infos...</small>
                        </a>
                    </p>
                    <div class="collapse" id="collapseWF3">
                        <div class="card card-body bg-card text-white">
                            <h6 class="text-white-50">Ojectifs de la formation :</h6>
                            <p>Réaliser l'intégration HTML/CSS dans le respect des normes et des bonnes pratiques, pour tout
                                type de terminaux.
                            </p>
                            <p>Concevoir des pages web intéractives avec Javascript, utiliser Ajax et la librairie jQuery,
                                connaître les bases d'Angular.
                            </p>
                            <p>Créer, structurer et exploiter une base de donnée MySQL.
                            </p>
                            <p>Réaliser un site web ou un blog à l'aide du CMS WordPress.
                            </p>
                            <p>Utiliser le language PHP et en comprendre la logique sous-jacente afin de réaliser des
                                applications PHP complexes.
                            </p>
                            <p>Réaliser un site web complexe avec Symfony.
                            </p>
                        </div>
                    </div>
                    <hr class="divider light my-4">
                    <h6 class="text-white">Ecole Supérieure Estienne des Arts et Industries Graphiques</h6>
                    <p class="text-white-50 mb-4">
                        BTS Communication Graphique <small>(1995)</small><br>
                        BT Industries Graphiques (Photogravure) <small>(1993)</small>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- competence Section -->
    <section class="page-section" id="competence">
        <div class="container">
            <h2 class="text-center mt-0">Compétences</h2>
            <hr class="divider my-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-code text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Langages</h3>
                        <p class="text-muted mb-0">HTML, CSS, JavaScript, SQL, PHP.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fab fa-4x fa-bootstrap text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Librairies</h3>
                        <p class="text-muted mb-0">jQuery, Bootstrap, Ajax.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fab fa-4x fa-symfony text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Frameworks</h3>
                        <p class="text-muted mb-0">Angular, Symfony.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fab fa-4x fa-wordpress text-primary mb-4"></i>
                        <h3 class="h4 mb-2">CMS</h3>
                        <p class="text-muted mb-0">WordPress.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fab fa-4x fa-adobe text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Design</h3>
                        <p class="text-muted mb-0">Photoshop, Illustrator, InDesign, Acrobat DC.</p>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Autre</h3>
                        <p class="text-muted mb-0">Travail sous environnement Mac et PC Windows.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- experience Section -->
    <section class="page-section bg-dark text-white" id="experience">
        <div class="container text-center">
            <h2 class="mb-4">Expérience Professionnelle</h2>
            <hr class="divider my-4">
            <h6 class="text-white">VMLY&R Paris {Groupe WPP France} 2001 à 2019</h6>
            <p class="mb-4">
            <p class="text-white">Ray Productions <small>2007 à 2019<br>
                    <span class="text-primary op50">Responsable du pôle photogravure, retoucheur et maquettiste PAO.</span><br>
                    <span class="text-white-50">Création du pôle Photogravure (sélection et mise en place des matériels, mise en place des process<br>et des flux automatiques de création des PDF HiRes et d'épreuves contractuelles).<br>
		Formation et accompagnement des équipes de maquettiste à l'utilisation de ces flux.</span></small></p>
            <p class="text-white">Ray Productions <small>(Plateforme de production) 2004 à 2007<br>
                    <span class="text-primary op50">Maquettiste PAO.</span></small><br>
            </p>
            <p class="text-white">Wunderman <small> (Agence de Marquetting Direct) 2001 à 2004<br>
                    <span class="text-primary op50">Maquettiste PAO.</span></small>
            </p>
            <hr class="divider my-4">
            <h6 class="text-white">Mereau (Editeur de presse) 1999 à 2001</h6>
            <p class="text-white-50 mb-4">
                <small class="text-primary op50">Scanneriste et retoucheur.</small>
            </p>
            <hr class="divider my-4">
            <h6 class="text-white">La Société (Photogravure) 1994 à 1999</h6>
            <p class="text-white-50 mb-4">
                <small class="text-primary op50">Maquettiste PAO, scanneriste et retoucheur.</small>
            </p>
        </div>
    </section>

    <!-- Portfolio Section https://mdbootstrap.com/plugins/jquery/gallery/ -->
    <section class="page-section bg-primary" id="portfolio">
        <div class="text-center mb-2 col-10 col-md-12 mx-auto">
            <h2 class="mb-4 text-white">Portfolio</h2>
            <hr class="divider light my-4">
{#            <div>#}
{#                <h5 class="text-white font-weight-bold">#}
{#                    {% for type in types %}#}
{#                        {{ type.name|replace({" / ": "&nbsp;/&nbsp;"})|raw }}{{ (loop.last) ? '' : '<span class="font-weight-bold text-white-50">&nbsp;| </span>' }}#}
{#                    {% endfor %}#}
{#                </h5>#}
{#            </div>#}
{#            <div>#}
{#                <h6 class="text-white">#}
{#                    {% for category in categories %}#}
{#                        {{ category.name|replace({" / ": "&nbsp;/&nbsp;"})|raw }}{{ (loop.last) ? '' : '<span class="font-weight-bold text-white-50">&nbsp;| </span>' }}#}
{#                    {% endfor %}#}
{#                </h6>#}
{#            </div>#}
        </div>
        <div class="container-fluid p-0 bg-primary py-3 py-md-5">
            <div class="row no-gutters col-12 col-md-10 mx-auto">
                {% if projects and projects|length > 0 %}
                    {% for project in projects %}
                        <div class="col-lg-4 col-sm-6 position-relative div-portfolio">
                            <a class="portfolio-box m-2" href="{{ asset('img/portfolio/' ~ project.files[0]) }}"
                               title="{{ project.infoShort }}">
                                <img class="img-fluid img-fluid-home img-fit"
                                     src="{{ asset('img/portfolio/' ~ project.files[0]) }}"
                                     alt="{{ project.infoShort }}">
                                {#                                <div class="portfolio-box-caption" {{ (project.type|lower == 'web') ? 'style="background-color:rgba(108, 117, 125, .9);"' }}>#}
                                <div class="portfolio-box-caption bg-dark">
                                    <div class="project-category text-white-50">
                                        {{ project.type }}
                                    </div>
                                    <div class="project-category">
                                        {{ project.category }}
                                    </div>
                                    <div class="project-name">
                                        {{ project.name }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </section>


    <!-- Contact Section -->
    <section class="page-section bg-dark text-white" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Pour me contacter</h2>
                    <hr class="divider my-4">
                </div>
            </div>
            <div class="row">
                {#                <div class="col-lg-3 col-6 ml-auto text-center mb-5 mb-lg-0">#}
                {#                    <i class="fas fa-phone-square fa-3x mb-3 text-muted"></i>#}
                {#                    <div class="text-primary op50">+33 6 XX XX XX XX</div>#}
                {#                </div>#}
                <div class="col-4 mx-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-envelope-square fa-3x mb-3 text-muted"></i>
                    <a class="d-block text-primary op50" href="mailto:gebelinchristophe@gmail.com">eMail</a>
                </div>
                <div class="col-4 mx-auto text-center mb-5 mb-lg-0">
                    <i class="fab fa-linkedin fa-3x mb-3 text-muted"></i>
                    <a class="d-block text-primary op50" href="https://www.linkedin.com/in/christophe-gebelin"
                       target=”_blank”>Linkedin</a>
                </div>
                <div class="col-4 mx-auto text-center">
                    <i class="fab fa-github-square fa-3x mb-3 text-muted"></i>
                    <a class="d-block text-primary op50" href="https://github.com/chrisgebel1"
                       target=”_blank”>GitHub</a>
                </div>
            </div>
        </div>
    </section>




{% endblock %}
