<div class="d-flex flex-wrap justify-content-start project-images">
    {% if original_image %}
        <div class="p-1 w-100 mx-auto mb-3 mt-4 bg-primary rounded text-white">Image(s) du projet</div>
        {% for image in original_image %}
            {% if loop.last and loop.length > 1 %}
                {% set margeRight = "" %}
            {% else %}
                {% set margeRight = "mr-2" %}
            {% endif %}
            <div id="imageIndex{{ loop.index0 }}" class="container-delete {{ margeRight }} mb-5">
                <img src="{{ asset('img/portfolio/'~image) }}" alt="" width="125px" class="img-thumbnail deleteBtn" id="{{ loop.index0 }}">
                <div class="delete-img-btn-legend h-100 d-flex flex-column">
                    <div>
                        <a href="{{ path('app_admin_project_ajaxdeleteoneimageproject', {'id': project.id, 'img': loop.index0}) }}"
                           data-indexImage="{{ loop.index0 }}" class="delete-img-btn text-white"
                           onclick="return(confirm('Etes-vous sûr de vouloir supprimer l\'image {{ loop.index }} ?'))">
                            Supprimer
                        </a>
                    </div>
                    <div class="mt-3">
                        <div class="d-inline text-white mr-3 order-move" data-order="{{ project.id }}-{{ loop.index0 }}-left" title="Modifier l'ordre"><i class="fas fa-angle-left"></i></div>
                        <div class="d-inline text-white ml-3 order-move" data-order="{{ project.id }}-{{ loop.index0 }}-right" title="Modifier l'ordre"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <div class="p-1 w-100 mx-auto mb-3 mt-4 bg-primary rounded text-white">Il n'y a pas d'image(s) pour ce projet</div>
    {% endif %}

</div>

