{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {# Theme CSS navbarBO #}
    <link href="{{ asset('css/navbarBO.css')}}" rel="stylesheet">
    {# CSS index backoffice #}
    <link href="{{ asset('css/MyStyle_BO.css')}}" rel="stylesheet">

{% endblock %}

{% block body %}

    {# Navigation BackOffice #}
    {% include 'admin/_navBackOffice.html.twig' %}

    <!-- Masthead -->
    <header class="mastheadBO bg-dark h-100">
            <div class="row h-100 mx-0 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-center">
                    <h2 class="text-uppercase text-white font-weight-bold">Backoffice</h2>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-10 align-self-start mb-lg-0 mb-5">
                    <div class="row text-white">
                        <div class="col-8 col-lg-5 mb-5 mb-lg-0 mx-auto">
                            <a href="{{ path('app_admin_user_index') }}" class="text-white">
                            <div class="picto-user mx-auto mb-4"></div>
                            <h5 class="text-uppercase text-white font-weight-bold">Utilisateurs</h5>
                            </a>
                            <hr class="divider my-4">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Total</th>
                                        {% for role in roles %}
                                            <th>{{ role|replace({'ROLE_':''})|capitalize }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody class="text-white">
                                    <tr>
                                        <td>{{ users|length }}</td>
                                        {% for role in roles %}
                                            {% set nbre = 0 %}
                                            <td>
                                                {% for user in users %}
                                                    {% if user.role == role %}
                                                        {% set nbre = nbre + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ nbre }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-8 col-lg-5 mx-auto">
                            <a href="{{ path('app_admin_project_index') }}" class="text-white">
                            <div class="picto-project mx-auto mb-4"></div>
                            <h5 class="text-uppercase text-white font-weight-bold">Projets</h5>
                            </a>
                            <hr class="divider my-4">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                <tr>
                                    <th>Total</th>
                                    {% for type in types %}
                                        <th>{{ type.name }}</th>
                                    {% endfor %}

                                </tr>
                                </thead>
                                <tbody class="text-white">
                                <tr>
                                    <td>{{ projects|length }}</td>
                                    {% for type in types %}
                                        {% set projectType = 0 %}
                                        {% for project in projects %}
                                            {% if project.type == type %}
                                                {% set projectType = projectType + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        <td>
                                                {{ projectType }}
                                        </td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </header>

{% endblock %}
