{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Utilisateurs BackOffice{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# Theme CSS navbarBO #}
    <link href="{{ asset('css/navbarBO.css')}}" rel="stylesheet">
    <link href="{{ asset('css/userBO.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

    {# Navigation BackOffice #}
    {% include 'admin/_navBackOffice.html.twig' %}

    <!-- Masthead -->
    <header class="mastheadBO bg-dark Merriweather">
        {# Messages Flash #}
        {% include '_messageFlash.html.twig' %}


        {% if userEdit is defined %}
            <div class="container">
                <div class="col-lg-8 align-self-baseline mx-auto">
                    {{ form_start(formEdit) }}
                        {{ form_row(formEdit.pseudo) }}
                        {{ form_row(formEdit.role) }}
                        <div class="form-group mb-4 mt-2 text-center">
                            <button type="submit" class="btn btn-primary">Modifier</button>
                        </div>
                    {{ form_end(formEdit) }}
                </div>
            </div>
        {% endif %}
        <div class="{# container #} mx-lg-0 mx-2">
            <table class="table table-stripped bg-secondary col-lg-8 col-12 mx-auto">
                <thead class="bg-light text-dark">
                    <tr class="text-center">
                        <th class="align-middle">ID</th>
                        <th class="align-middle">Pseudo</th>
                        <th class="align-middle">Rôle</th>
                        <th class="align-middle">Date d'inscription</th>
                        <th class="align-middle">dernier login</th>
{#                        <th class="align-middle">dernier logout</th>#}
                        <th class="align-middle">durée de connexion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if users|length > 0 %}
                    {% for user in users %}
                        <tr class="text-center text-white">
                            <td class="align-middle">{{ user.id }}</td>
                            <td class="align-middle">{{ user.pseudo }}</td>
                            <td class="align-middle">
                                {% if user.role == 'ROLE_ADMIN'  and user.id == app.user.id %}
                                    <span title="Vous ne pouvez pas modifier votre rôle">Admin</span>
                                {% else %}
                                    <form class="form-group">
                                        <label for="{{ user.id }}"></label>
                                        <select name="{{ user.id }}" id="{{ user.id }}" class="custom-select custom-select-sm role-select" data-role="{{ user.role }}">
                                            {% for role in user.rolesAccepted %}
                                                {% if role == user.role %}
                                                    <option value="{{ role }}" class="text-center" selected="selected">{{ role|replace({'ROLE_':''})|capitalize }}</option>
                                                {% else %}
                                                    <option value="{{ role }}" class="text-center">{{ role|replace({'ROLE_':''})|capitalize }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </form>
                                {% endif %}
                            </td>
                            <td class="align-middle">{{ user.dateRegistration|date('d/m/Y') }}</td>
                            <td class="align-middle">{{ user.lastLogin|date('d/m/Y H:i') }}</td>
{#                            <td class="align-middle">{{ user.lastLogOut|date('d/m/Y H:i') }}</td>#}
                            <td class="align-middle">{{ user.connectionTime }}</td>
                            {% if user.role == 'ROLE_ADMIN' and user.id == app.user.id %}
                                <td class="align-middle op50"><span title="Vous ne pouvez pas supprimer votre propre compte">Supprimer</span></td>
                            {% else %}
                                <td class="align-middle"><a href="{{ path('app_admin_user_delete', {'id': user.id}) }}" class="text-white" onclick="return(confirm('Etes-vous sûr de vouloir supprimer l\'utilisateur {{ user.pseudo }} ?'))">Supprimer</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="text-center">
                        <td class="text-center" colspan="5">Il n'y a pas d'utilisateurs inscrits.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </header>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/changeRole.js') }}"></script>
{% endblock %}
