{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {# Theme CSS navbarBO #}
    <link href="{{ asset('css/navbarBO.css')}}" rel="stylesheet">

    {# CSS pour eidt project #}
    <link href="{{ asset('css/editProjectBO.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

    {# Navigation BackOffice #}
    {% include 'admin/backoffice/_navBackOffice.html.twig' %}

    <!-- Masthead -->
    <header class="mastheadBO bg-dark Merriweather">
        {# Messages Flash #}
        {% include '_messageFlash.html.twig' %}


        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 col-10 align-self-baseline">
                    {{ form_start(form) }}
                    {{ form_widget(form.name, {'attr': {'class': 'mb-3'}}) }}
                    {{ form_widget(form.type, {'attr': {'class': 'mb-3'}}) }}
                    {{ form_widget(form.category, {'attr': {'class': 'mb-3'}}) }}
                    {{ form_widget(form.info_short, {'attr': {'class': 'mb-3'}}) }}
                    {{ form_widget(form.info_long, {'attr': {'class': 'mb-3'}}) }}
                    {{ form_widget(form.files, {'attr': {'class': 'mb-3'}}) }}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary w-auto mt-4">Enregistrer</button>
                    </div>

                    {{ form_end(form) }}

                    <div class="d-flex flex-wrap justify-content-start">
                        {% if original_image %}
                            <div class="p-1 w-100 mx-auto mb-3 mt-4 bg-primary rounded text-white">Image(s) du projet</div>
                        {% for image in original_image %}
                            {% if loop.last and loop.length > 1 %}
                                {% set margeRight = "" %}
                            {% else %}
                                {% set margeRight = "mr-2" %}
                            {% endif %}
                                <div id="imageIndex{{ loop.index0 }}" class="container-delete {{ margeRight }}">
                                    <a href="{{ path('app_admin_project_ajaxdeleteoneimageproject', {'id': project.id, 'img': loop.index0}) }}"
                                       data-indexImage="{{ loop.index0 }}" class="delete-img-btn"
                                       onclick="return(confirm('Etes-vous sûr de vouloir supprimer l\'image {{ loop.index }} ?'))">
                                        <img src="{{ asset('img/portfolio/'~image) }}" alt="" width="125px" class="img-thumbnail deleteBtn" id="{{ loop.index0 }}">
                                    <div class="delete-img-btn-legend h-100">
                                        <p>Supprimer</p>
                                    </div>
                                    </a>
                                </div>

                        {% endfor %}
                        {% else %}
                            <div class="p-1 w-100 mx-auto mb-3 mt-4 bg-primary rounded text-white">Il n'y a pas d'image(s) pour ce projet</div>
                        {% endif %}

                    </div>

            </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {# My scripts for this template #}
    <script src="{{ asset('js/createProject.js') }}"></script>

    {# rollover des vignettes suppmrimer image du projet #}
    <script type="text/javascript">
        $(document).ready( function(){
            "use strict";

            $(".container-delete").mouseenter( function (){
                $(".delete-img-btn-legend",
                    this).stop().animate({"top":"0%",}, 200, 'swing');
            });
            $(".container-delete").mouseleave( function (){
                $(".delete-img-btn-legend",
                    this).stop().animate({"top":"100%",}, 200, 'swing');
            });
        });
    </script>

{% endblock %}
